---
import Container from '../components/Container.astro';
import ExperienceList from '../components/ExperienceList.astro';
import Presentation from '../components/Presentation.astro';
import Projects from '../components/Projects.astro';
import BriefcaseIcon from '../icons/Briefcase.astro';
import CodeIcon from '../icons/Code.astro';
import Layout from '../layouts/Layout.astro';

const title: string = "Michael's Portfolio | Web Developer";
const description: string = "This is Michael's dev portfolio. Here you can find my projects, experience, and more.";
---

<Layout title={title} description={description}>
    <main class="px-4">
        <Container class="py-3 lg:py-20 2xl:py-44 pb-32" id="home">
            <Presentation />
        </Container>

        <Container id="projects">
            <h2 class="text-2xl font-semibold mb-4 flex gap-x-4">
                <CodeIcon class="size-8" />
                Projects
            </h2>
            <Projects />
        </Container>

        <Container id="experience">
            <h2 class="text-2xl font-semibold mb-4 flex gap-x-4">
                <BriefcaseIcon class="size-8" />
                Experience
            </h2>
            <ExperienceList />
        </Container>
    </main>
</Layout>
