---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
    {
        date: 'February 2023 - August 2023',
        title: 'Backend Developer',
        where: 'Banco Popular - ADL Digital Lab',
        description:
            "I worked as a developer at Banco Popular's Digital Lab, leading an initiative that used Artificial Intelligence and Language Models to guide bank staff on methodological topics through a chat channel. I implemented Object-Oriented Programming and clean architectures to create an efficient and scalable solution following the Scrum methodology.",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3 mt-6 sm:mt-8 lg:mt-10">
    {
        EXPERIENCE.map((exp) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...exp} />
            </li>
        ))
    }
</ol>
