---
import Card from './Card.astro';

interface Repos {
    full_name: string;
    html_url: string;
    languages: Badge[];
    description: string;
    type: string;
}

interface Badge {
    name: string;
    color: string;
    logo: string;
}

/* 
const USER = "miklegonza";

const urlMikle = `https://api.github.com/users/${USER}/repos?per_page=4&sort=desc`;
const urlDNO = `https://api.github.com/repos/DataNetworkOverlock/dno-api`;
const urlHL = `https://api.github.com/repos/Hack3rsL4b/Hack3rsL4b.github.io`;

const responseMikle = await fetch(urlMikle);
const responseDNO = await fetch(urlDNO);
const responseHL = await fetch(urlHL);
const repositories = await responseMikle.json();

console.log(repositories);

const PROJECTS = repositories.map((repository: Repos) => {
    return {
        full_name: repository.full_name,
        html_url: repository.html_url,
        language: repository.language,
        description: repository.description,
    };
}); */

const BADGES = {
    javascript: {
        name: 'Javascript',
        color: 'F7DF1E',
        logo: 'javascript',
    },
    typescript: {
        name: 'Typescript',
        color: '3178C6',
        logo: 'typescript',
    },
    nodejs: {
        name: 'NodeJS',
        color: '339933',
        logo: 'node.js',
    },
    express: {
        name: 'Express',
        color: '000000',
        logo: 'express',
    },
    mysql: {
        name: 'MySQL',
        color: '4479A1',
        logo: 'mysql',
    },
    mariadb: {
        name: 'MariaDB',
        color: '003545',
        logo: 'mariadb',
    },
    mongodb: {
        name: 'MongoDB',
        color: '47A248',
        logo: 'mongodb',
    },
    digitalocean: {
        name: 'DigitalOcean',
        color: '0080FF',
        logo: 'digitalocean',
    },
    angular: {
        name: 'Angular',
        color: 'DD0031',
        logo: 'angular',
    },
    html: {
        name: 'HTML',
        color: 'E34F26',
        logo: 'html5',
    },
    css: {
        name: 'CSS',
        color: '1572B6',
        logo: 'css3',
    },
    bootstrap: {
        name: 'Bootstrap',
        color: '7952B3',
        logo: 'bootstrap',
    },
};

const PROJECTS = [
    {
        full_name: "Data Network Overlock's API",
        html_url: 'https://github.com/miklegonza/dno-api',
        languages: [BADGES.nodejs, BADGES.express, BADGES.mysql, BADGES.digitalocean],
        description: "Data Network Overlock's API REST to integrate the database with the Application.",
        type: 'Backend',
    },
    {
        full_name: 'MSA - Backend',
        html_url: 'https://github.com/miklegonza/api-msa',
        languages: [BADGES.nodejs, BADGES.express, BADGES.mongodb],
        description: 'Backend application for the MSA project, built with NodeJS and Express framework.',
        type: 'Backend',
    },
    {
        full_name: 'Moneybox Backend',
        html_url: 'https://github.com/miklegonza/moneybox-backend',
        languages: [BADGES.javascript, BADGES.mariadb],
        description:
            "Moneybox's backend application built with NodeJS and Express framework that connects to a MariaDB database.",
        type: 'Backend',
    },
    {
        full_name: 'PokeAPI',
        html_url: 'https://github.com/miklegonza/pokeapi',
        languages: [BADGES.javascript, BADGES.html, BADGES.css, BADGES.bootstrap],
        description: 'Pokedex web application using the PokeAPI to list and find any Pokemon.',
        type: 'Frontend',
    },
    {
        full_name: 'MSA',
        html_url: 'https://github.com/miklegonza/msa',
        languages: [BADGES.angular, BADGES.html, BADGES.css, BADGES.bootstrap, BADGES.typescript],
        description: 'E-commerce web application built with Angular and Bootstrap to sell PC gaming components.',
        type: 'Frontend',
    },
    {
        full_name: "Hack3rsL4b's webpage",
        html_url: 'https://github.com/Hack3rsL4b/Hack3rsL4b.github.io',
        languages: [BADGES.html, BADGES.css],
        description: "Information Security Think Tank's provisional website, from San Buenaventura University.",
        type: 'Frontend',
    },
    {
        full_name: 'Cypher Demo',
        html_url: 'https://github.com/miklegonza/Demo-Cifrado',
        languages: [BADGES.javascript, BADGES.nodejs],
        description: 'Web App to encrypt plain text files and send them between registered users.',
        type: 'Full Stack',
    },
    {
        full_name: 'JS Exercises',
        html_url: 'https://github.com/miklegonza/js-exercises',
        languages: [BADGES.javascript, BADGES.html, BADGES.css],
        description: 'Javascript exercises to practice and improve my skills.',
        type: 'Logic',
    },
];
---

<ol class="grid grid-cols-1 sm:grid-cols-2 mt-6 sm:mt-8 lg:mt-10 gap-y-4 sm:gap-x-4">
    {
        PROJECTS.map((project: Repos) => (
            <li>
                <Card {...project} />
            </li>
        ))
    }
</ol>
